@tailwind base;
@tailwind components;
@tailwind utilities;





        /* PurgeCSS:
        primary: "#008289",
        secondary: "#60CED4",
        btn: "#5271FF",
        borderColor: "#707070",
        cyan: "#06C3B4",
        danger: "#C34F06",
        ash: "#B2B2B2",
        yellowBg: "#FFF5A7", */